<main class="main">
  <div class="flex flex-wrap place-content-center grid-nogutter surface-section text-800">
    <!-- Left Section: Text and Social Links -->
    <div class="col-span-6 md:col-6 p-6 text-center md:text-left flex flex-col justify-center mt-8 md:mt-16">
      <section>
        <span class="block text-4xl md:text-6xl font-bold mb-1">Fabian Fratzl, MSc</span>
        <div class="text-3xl md:text-6xl text-primary font-bold mb-3">Developer</div>
        <p class="mt-0 mb-4 job-desc">Angular Frontend Developer</p>
        <p class="mt-0 mb-4 job-desc">Full-Stack Developer</p>
  
        <div class="social-links flex justify-center md:justify-start items-center gap-4 mt-4">
          <a href="https://www.linkedin.com/in/fabian-fratzl-545763232/" aria-label="LinkedIn" target="_blank" rel="noopener">
            <i class="pi pi-linkedin" style="font-size: 2rem"></i>
          </a>
          <a href="mailto:fabian.fratzl@gmail.com" aria-label="Mail" target="_blank" rel="noopener">
            <i class="pi pi-envelope
            " style="font-size: 2rem"></i>
          </a>
          <!-- <a href="https://www.youtube.com/channel/UCbn1OgGei-DV7aSRo_HaAiw" aria-label="Youtube" target="_blank"
            rel="noopener">
            <i class="pi pi-search" style="font-size: 2rem"></i>
          </a> -->
        </div>
      </section>
    </div>
    <!-- Right Section: Image -->
    <div class="col-12 md:col-6 overflow-hidden flex justify-center items-center mt-6 md:mt-0">
      <img src="/stack/assets/imgs/1674548785032-removebg-preview.png" class="circle-image md:ml-auto block w-full max-w-xs md:max-w-full h-auto ">
    </div>
  </div>
  



  <div class="content">
    <div class="">
      <div class="mt-16"></div>
      <span class="block text-3xl md:text-4xl font-bold mb-1">Tech Stack</span>
    </div>
    <div class="left-side">

      <div class="mt-16"></div>


      <div class="grid grid-cols-2 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4 w-3/4 mx-auto content-center place-content-center">
        @for (tech of techs; track tech) {
        <div class="col-span-1" [@jiggle]="jiggleStates[techs.indexOf(tech)]">
            <app-item-card [imgUrl]="tech.imgUrl" [title]="tech.title">
            </app-item-card>
        </div>
        }
    </div>
    

    </div>

    <div class="mt-16"></div>

    <div class="flex-row flex-wrap flex justify-center gap-4 mobiletransform">
      <slider 
      [title]="'Employers'"
      [data]="'Employers'"
      ></slider>
      <slider 
      [title]="'Education'"
      [data]="'Education'"
      ></slider>
    </div>

    <div class="mt-16"></div>
    
    <div class="right-side grid justify-center">
      <div class="pill-group">
        @for (item of [
        { title: 'Mail Contact', link: 'mailto:fabian.fratzl@gmail.com' },
        { title: 'LinkedIn', link: 'https://www.linkedin.com/in/fabian-fratzl-545763232/' },
                ]; track item.title) {
        <a class="pill" href="{{ item.link }}" target="_blank" rel="noopener">
          <span>{{ item.title }}</span>
          <svg xmlns="http://www.w3.org/2000/svg" height="14" viewBox="0 -960 960 960" width="14" fill="currentColor">
            <path
              d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h560v-280h80v280q0 33-23.5 56.5T760-120H200Zm188-212-56-56 372-372H560v-80h280v280h-80v-144L388-332Z" />
          </svg>
        </a>
        }
      </div>



    </div>
  </div>

</main>


<router-outlet></router-outlet>