<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Card Item Component</title>
  
</head>
<body>
  <div class="card-content">
  <p-card class="card" [header]="title" [style]="{ 
    width: '160px',
    height: '180px'
  }">
    <ng-template pTemplate="header" class="place-content-center flex">
        <img alt="Card" [src]="imgUrl" class="logo" />
    </ng-template>
  
  </p-card>  
</div>
</body>
</html>
