

  
  
  p {
    margin: 0;
    color: var(--gray-700);
  }
  
  main {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: inherit;
    position: relative;
  }
  @media (min-width: 768px) {
    .main {
     padding: 0rem;
    }
  }

  :host {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
  }

  

 
  .card {
    width: 8rem;   /* Fixed width */
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s, box-shadow 0.3s;
    overflow: hidden; /* Ensure content does not overflow */
  }
  
  .image-container {
    width: 100%;   /* Full width */
    padding-top: 100%; /* Makes the container a square (ratio 1:1) */
    position: relative; /* Position relative to contain the image absolutely */
    overflow: hidden;
  }
  
  .card-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image fills the container */
  }
  
  .card-title {
    margin-top: 0.5rem;
    text-align: center;
    font-size: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    padding: 0 0.5rem; /* Optional padding around the title */
    width: 100%;
  }
  
  
  


  
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

  .card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-align: -webkit-center;

   

  }
  .logo {
    min-width: 80px;
    min-height: 80px;
    width: 80px;
    height: auto;
    margin-top: 1rem;
  }
  
 
  
  
  .angular-logo {
    max-width: 9.2rem;
  }
  
  .content {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 700px;
    margin-bottom: 3rem;
  }
  
  .content h1 {
    margin-top: 1.75rem;
  }
  
  .content p {
    margin-top: 1.5rem;
  }
  
  .divider {
    width: 1px;
    background: var(--red-to-pink-to-purple-vertical-gradient);
    margin-inline: 0.5rem;
  }
  
 

  p {
    margin: 0;
    color: var(--gray-700);
    font-family: 'Roboto', sans-serif; /* Using a clean, modern font */
    font-size: 1rem; /* Setting a comfortable font size */
    line-height: 1.5; /* Improving readability with adequate line height */
    letter-spacing: 0.5px; /* Adding slight spacing between letters */
    text-rendering: optimizeLegibility; /* Improving text rendering */
    -webkit-font-smoothing: antialiased; /* Smoothing font edges for better readability */
  }
  
  /* Optionally include font-weight if needed */
  p.strong {
    font-weight: 600;
  }
  
  /* Importing Google Fonts in your main styles.scss */
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;600&display=swap');
  
  
  @media screen and (max-width: 650px) {
    .content {
      flex-direction: column;
      width: max-content;
    }
  
    .divider {
      height: 1px;
      width: 100%;
      background: var(--red-to-pink-to-purple-horizontal-gradient);
      margin-block: 1.5rem;
    }
  }


  @media (max-width: 768px) {
    .card-content {       
        padding: 1rem; /* Reduce padding to fit better on small screens */
        transform: scale(0.75); /* Scale the card down a bit */
    }
  }

  
  